# Python
__pycache__/
*.py[cod]
*.egg-info/
.coverage

# OS
.DS_Store

# Node / Next.js
node_modules/
.next/
out/
build/
*.tsbuildinfo
next-env.d.ts

# Env
.env*.local
.env

# Logs
npm-debug.log*
yarn-error.log*
